*{
      font-family: "Merriweather", serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    color:#3e2723;
}

a{
    color: inherit;
    text-decoration: none;
}

header{
    position: fixed;
    z-index: 9999;
    height: 80px;
    width: 100%;
    background-color: rgba(255, 255, 255, 80%);
}

header .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header p{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

header ul{
    display: flex;
    column-gap: 40px;
    justify-content: space-between;
    list-style: none;
}

header a{
    font-size: 16px;
    font-weight: bold;
}

@media(max-width: 768px){
    header ul{
        display: none;
    }
}


.firstview{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 500px;
    background-image: url('images/sea.jpg');
    background-position: center;
    background-size: cover;
}

.firstview h1{
    font-size: 64px;
    margin: 5%;
}

@media (max-width: 768px){
    .firstview h1{
        font-size: 56px;
    }
}

.about{
    padding: 100px 0;
}

.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    display:flex;
    align-items: center;
}

.p-title{
    font-size: 40px;
    letter-spacing: 0.1em;
    transform: rotate(-90deg);
    white-space: nowrap;
}

.plf-img{
    flex-shrink: 0;
    margin-left: -90px;
}

.plf-img img{
    width: 600px;
    height: 800px;
}

.plf-text p{
    font-size: 20px;
    max-width: 400px;
    margin-left: 10%;
    letter-spacing: 0.1em;
}


@media (max-width: 768px){
    .about{
        padding: 80px 0;
    }

    .about .container{
        flex-direction: column;
        row-gap: 24px;
    }

    .p-title{
        font-size: 30px;
        transform: none;
    }

    .profile p{
        margin-top: 16px;
    }

    .profile img{
        margin-left: 0;
        width: 100%;
    }
}


.like{
    padding: 100px 0;
    margin-bottom: 100px;
}

.like .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.like-text{
    width: 40%;
}

.like-text h2{
    margin-left: 100px;
    font-size: 48px;
}

.like-text p{
    margin-left: 100px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.1em;
}

.like-img{
    position: relative;
    width: 250px;
    height: 250px;
    overflow: visible;
    flex-shrink: 0;
}

.like-img img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.like-img img:nth-child(1){
    top:0;
    right:0;
}

.like-img img:nth-child(2){
    bottom:-150px;
    left:-350px;
    width: 400px;
    height: auto;
}

@media(max-width: 768px){
    .like{
        padding: 80px 0;
    }

    .like .container{
        flex-direction: column;
        gap: 16px;
    }
    .like-img{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 80px;
    }
    .like-img img{
        position: static;
    }
    .like-text{
        width: 100%;
    }
}

.container{
    margin: 0 auto;
}

.favorite{
    padding: 50px 0;
}

.favorite .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.section-title{
    display: inline-block;
    font-size: 40px;
}

.favorite p{
  margin-bottom: 20px;
}

.favorite-contents-top-row{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.favorite-contents-bottom-row{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.favorite-contents-top-row img{
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.favorite-contents-bottom-row img{
    width: 300px;
    height: 500px;
    object-fit: cover;
}

@media(max-width: 768px){
    .favorite{
        padding: 80px 0;
    }
    .favorite-contents-top-row{
        flex-direction: column;
        align-items: center;
    }
     .favorite-contents-bottom-row{
        flex-direction: column;
        align-items: center;
    }
}

.contact {
    padding-bottom: 20px;
    align-items: center;
}

.contact .container{
    max-width: 300px;
    margin: 0 auto;
}

.contact a{
    display:inline-block;
    width: 100px;
}

.contact a img{
    width: 80px;
    height: auto;
    display: block;
    border-radius: 30%;
}

.contact .sns{
    display: flex;
    column-gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

@media(max-width: 768px){
    .contact{
        padding: 80px 0;
    }
    .contact .sns{
        flex-direction: row;
        row-gap: 10px;
        margin-top: 50px;
    }
    .contact a {
        width: 100%;
    }
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 14px;
    letter-spacing: 0.1em;
    background-color: #edece7;
}

